/* Color palette */

:root {
    --white: #FFFFFF;
    --gray: #8d8d8d;
    --light-gray: #f2f2f3;
    --light-blue: #B7DCEB;
    --blue: #A3C4D1;
    --dark-blue: #85A0AB;
    /* --white-bone: #E1E1E1;
    --cool-blue: #335979;
    --cool-pink: #f02eaa;
    --light-blue: #4c86b6;
    --box-shadow-none: #00000026 1.95px 1.95px 2.6px;
    --box-shadow-cool: #33597966 5px 5px, #3359794d 10px 10px, #33597933 15px 15px, #3359791a 20px 20px, #3359790d 25px 25px; */
}


/* Style variables */

:root {
    --primary: var(--white);
    --secondary: var(--light-gray);
    --tertiary: var(--gray);
    --font-family: 'montserrat';
}


/* Global styles */

* {
    font-family: var(--font-family), sans-serif;
    color: black;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--primary);
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}
.basic-button:hover {
    background-color: var(--tertiary);
}

h1, h2 {
    margin-top: 10px;
}


/* Forms */

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form-group {
    margin: 20px;
    text-align: left;
}

.form-control {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}