/* Color palette */
:root {
    --white: #FFFFFF;
    --dark-gray: #1A1A1A;
    --gray: #2c2c2c;
    --light-gray: #f2f2f3;
    --white-bone: #E1E1E1;
    --deep-gray: #232427;
    --cool-blue: #335979;
    --cool-pink: #f02eaa;
    --light-blue: #4c86b6;
    --box-shadow-none: #00000026 1.95px 1.95px 2.6px;
    --box-shadow-cool: #33597966 5px 5px, #3359794d 10px 10px, #33597933 15px 15px, #3359791a 20px 20px, #3359790d 25px 25px; 
}

/* Style variables */
:root {
    --bg-color: var(--dark-gray);
    --bg2-color: var(--dark-gray);
    --accent-color: var(--cool-blue);
    --font-color: var(--dark-gray);
    --box-shadow: var(--box-shadow-none);
    --font-family: 'montserrat';
}